* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
    color: #000;
}
body{
    background: #000;
}

.header__container {
    padding: 15px 100px;
}
.header {
    font: 36px sans-serif;
    background: #FFF;
    position: sticky;
    top: 0;
    border-bottom: 5px solid #000;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding: 10px;
    height: 130px;
    border-top: 1.5px double black;
    border-bottom: 1.5px double black;
    border-width: 10px;
}


.header-logo__container {
    
}


.header__list {
    list-style: none;
}
.header__list:last-child {
    color: #000;
}
.list__item {
    display: inline-block;
    margin-left: 55px;
}
.list__link {
    color: #F00;
    font-weight: bold;
}
.list__link:hover{
    color: rgb(200, 30, 30);
    transition: 0.3s ease-in-out;
}


.content {
    margin: 40px 0px;
    display: flex;
}

.sidebar {
    position: sticky;
    height: 65vh;
    top: 215px;
    background: #FFF;
    padding: 10px;
    border-radius: 8px;
}
.sidebar__title {
    margin-bottom: 15px;
}
.sort-container{
    margin: 30px 0;
}
.sort__item {
    margin-bottom: 15px;
}
.sort__title{
    cursor: pointer;
    margin-bottom: 5px;
    color: #F00;
}
.button-container {
    position: ;
}
.sidebar__button {
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.sidebar-cancel {
    background: #CBDCDD;
    margin-right: 10px;
}
.sidebar-cancel:hover{
    background-color: #B5C4C5;
}
.sidebar-sort {
    background: #5DADE2;
}
.sidebar-sort:hover{
    background-color: #5197C5;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
}
.main-title {
    color: #FFF;
}
.catalog {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.book {
    border-radius: 8px;
    background: #FFF;
    padding: 12px 25px;
    width: 250px;
}
.book__image {
    width: 200px;
    height: 300px;
}
.book__about {
}
.book__title {
    margin-bottom: 5px;
}
.book__description {

}

@media screen and (max-width: 768px) {
    .container {
        max-width: calc(768px - 100px);
    }
    .catalog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .sidebar {
        display: none;
    }
}


@media screen and (max-width: 425px) {
    .header {
        font-size: 18px;
    }
    .container {
        max-width: calc(425px - 50px);
    }
    .catalog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .sidebar {
        display: none;
    }
}


@media screen and (max-width: 320px) {
    .header {
        display: none;
    }
    .container {
        max-width: calc(425px - 50px);
    }
    .catalog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .sidebar {
        display: none;
    }
}